dash==2.11.1
dash-bootstrap-components==1.9.1
plotly==5.17.0
pandas==1.5.3
numpy==1.23.5
sklearn==0.0
scikit-learn==1.2.2
openai==0.27.8
pyowm==3.3.0
requests==2.31.0
langchain-openai==0.0.9
langchain-community==0.0.9
langchain-core==0.0.9
langchain==0.0.9
statsmodels==0.14.0
python-dotenv==1.0.0
flask==3.0.0
flask-cors==3.0.10
uvicorn==0.24.0
fastapi==0.103.1
